.container {
    background-color: #957bbe;
    border-radius: .70rem ;
    margin: 1em 0;
}

.container-fluid {
    background-color: #7bbebb;
    border-radius: .70rem ;
    margin: 1em 0;
}

.row {
    background-color:  #bea37b;
    border-radius: .70rem;
}


.col, .col-, .col-sm, .col-lg .col.xl,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    background-color:  #be7bbe;
    border-radius: .70rem;
}

.menu li {
    display: inline-block;
}


 @media (min-width: 768px){
     .meni li {
         display: list-item;
     }
 }