.comment {
    .meta {
        font-size: 1rem;
        margin-top: 0.35em;
    }

    .content {
        margin-bottom: 0;
    }
}

/* .comments {
    li:last-child {
        margin-bottom: 0;
    }
} */
